.pc-container {
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow: hidden;
}

@media (display-mode: standalone) and (min-width: 1024px) {
  .pc-container {
    height: calc(100vh - 20px);
    margin-top: 20px;
  }
}

@media (max-width: 639px) and (orientation: portrait) {
  .pc-container {
    height: 100svh;
    margin-top: 0;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .pc-container {
    height: calc(100vh - 20px);
    margin-top: 20px;
  }
}

@media (min-width: 1024px) and (max-height: 980px) {
  .pc-container {
    height: calc(100vh - 12px);
    margin-top: 12px;
  }
}
